// Overrides

.hero {
  background-color: $black-ter;
}

a:focus {
    outline: none; 
}

.delete {
  background-color: rgba(255, 255, 255, 0.2);

  &:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
}

.label {
  color: $grey-lighter;
}

.checkbox:hover {
    color: $white;
}

.notification {
  @each $name, $pair in $colors {
    $color: nth($pair, 1);
    $color-invert: nth($pair, 2);

    &.is-#{$name} {
      a:not(.button) {
        color: $color-invert;
        text-decoration: underline;
      }
    }
  }
}

.card {
  background-color: $grey-accent;
  border-radius: .3rem;
}

.message-header {
  background-color: $black-ter;
  color: $white;
}

.message-body {
  border-color: $black-ter;
}

.modal-card-body {
  background-color: $black-ter;
}

.modal-card-foot,
.modal-card-head {
  border-color: $black-ter;
}

.navbar {
  border: 1px solid $grey-darker;
  .navbar-dropdown {
    border: 1px solid $grey-darker;
  }

  @include touch {
    .navbar-menu {
      background-color: $navbar-background-color;
    }
  }
}

.hero {
  .navbar {
    &,
    .navbar-menu,
    .navbar-dropdown {
      border: none;
    }
  }
}